*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    scroll-behavior:smooth;
    font-size:16px;
    font-family: "Martel sans", sans-serif;
}
:root{
    --red-text-color:#e50914;
    --background-color:#232323;
}

html,body{
    overflow-x:hidden;
    /* height:100vh;
    width:100vw; */
}
body{
    background-color: black;
    width:100vw;
}

/* MAIN  */
.main{
    background-image:url(/netflix_banner.jpg);
    font-family:"Martel Sans",sans-serif;
    height:644px;
    /* width:100vw; */
    position:relative;
    background-position:bottom center;
    background-repeat:no-repeat;
    background-size:max(1200px,100vw);
    /* background-size:cover;
    right:0px; */
}
.main .box{
    height:644px;
    width:100%;
    opacity:0.7;
    background-color:black;
    position:absolute;
    top:0;
}
nav{
    max-width:80vw;
    height:5rem;
    margin:auto;
    justify-content:space-between;
    display:flex;
    align-items:center;
    padding-left:1rem;
    position:sticky;
}
nav span{
    color:var(--red-text-color);
}
nav img{
    width:9.5rem;
    height:10rem;
    position:relative;
    z-index:10;
}
nav button{
    position:relative;
    z-index:10;
}
.btn-si{
    font-size:0.9rem;
    padding:0.3rem 1.4rem;
}
.btn:hover{
    background-color:#af0810;
    border-color:#af0810;
}
.btn{
    display:inline-block;
    background-color: var(--red-text-color);
    text-decoration: none;
    color:#FFFFFF;
    border:2px solid var(--red-text-color);
    border-radius: 0.2rem;
    font-weight:600;
    position:relative;
    z-index:1;
}

#language{
    color:white;
    background-color: rgba(0, 0, 0, 0.312);
    border-radius:0.3rem;
    padding:0.3rem 1.4rem;
    margin-right:0.7rem;
    position:relative;
    z-index:2;
    font-weight:500;
    font-size:0.9rem;
}
#language_icon{
    color:white;
    width:45rem;
    height:23rem;
}
.home{
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content: center;
    align-items:center;
    color:white;
    height:calc(100% - 5rem);
    gap:23px;
    position:relative;
    padding:0 30px;
}
.home>:first-child{
    font-weight:800;
    font-size:6.4vmin;
    font-family:"poppins","sans-serif";
}
.home>:nth-child(2){
     font-weight:500;
     font-size:4vmin;
}
.home>:nth-child(3){
    font-weight:500;
    font-size:3vmin;
}
 .form{
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    top:0.7rem;
    gap:0.5rem;
}

.email{
    background-color: rgba(0, 0, 0, 0.227);
    width:22rem;
    padding:0.2rem 1rem;
    height:3.5rem;
    position: relative;
    z-index:1;
    border-radius:0.3rem;
    border-color:rgb(54, 47, 51);
    border-style:groove;
    color:white;
}
::placeholder{
    color:#bdbdb2;
    font-size:1rem;
}
.btn-red-sm{
    padding:0.8rem 1rem;
    font-size:1.5rem;
}
.separation{
     background-color: gray;
     height:0.4rem; 
     position:relative;
     z-index:20;
}

/* Responsiveness code  */
@media(max-width:640px){
    .form{
        flex-wrap: wrap;
        gap:15px;
    }
    nav{
        flex-wrap:wrap;
    }
    nav .buttons{
        flex-wrap:nowrap;
    }
}

/* First section */
.first{
    display:flex;
    justify-content:center;
    align-items:center;
    max-width:76vw;
    margin:auto;
    color:white;
    padding:2vw 5vw;
    margin:auto;
    font-size:10vw;
}
.first.cont{
    width:54vw;
    line-height:3.4vw;
}
.secImg{
    position:relative;
}
.secImg img{
    width:42vw;
    position:relative;
    z-index:1;
}
.secImg video{
    width:31vw;
    position:absolute;
    top:93px;
    right:81px;
}
section.first > div{
    display:flex;
    flex-wrap:wrap;
    gap:10px;

}
section.first > div :nth-child(1){
    font-size:6vmin;
    font-weight:bolder;
}
.first > div :nth-child(2){
    font-size:2.5vmin;
    font-weight:500;
    line-height:30px;
}

/* second section */
#second .secImg{
    position:relative;
}
#second .box img{
    position:absolute;
}
.box {
    background-color: gray;
    width: 19vw;
    height: 7vw;
}
.box img{
    width:4vw;
    
}


/* Third section video  */
#vd2{
     top:44px;
     right:120px;
     width:26vw;
}

/* FAQs section */
.faq{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;

}
.faq h1{
    font-weight:800;
    font-size:48px;
    font-family:"poppins","sans-serif";
    color:white;
    padding:3vw 0 ;
}
.container{
    display:flex;
    gap:10px;
    flex-wrap:wrap;
    max-width:60vw;
    justify-content:center;
    align-items:center;
}
.blks{
    width:70vw;
    height:50px;
    background-color:rgba(96, 96, 96, 0.442);
    color:white;
    font-size:19px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:3px 28px;
    cursor:pointer;
    transition: 0.5s ease-in-out ;
}
.blks:hover{
    background-color: rgb(73, 73, 73);
}
.faq span{
    color:white;
    font-size:20px;
    padding-top:2vw;
}
.faq .form{
    padding:0 0 5vw 0;
}

/* Footer */
footer{
  color:white;
  max-width:60vw;
  margin:auto;
  padding:75px 0;
}
footer a{
    color:white;
    font-size:14px;
}
.fcontainer{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  flex-wrap:flex;
}
.footer_item{
    display:flex;
    flex-direction:column;
    gap:23px;
}
.ques{
padding:34px 0;
margin:auto;
}
footer .buttons{
      padding:34px 0;
}


