*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;
    font-size:16px;
    font-family: "Martel sans", sans-serif;
}
:root{
    --red-text-color:#e50914;
    --background-color:#232323;
}

html,body{
    overflow-x:hidden;
    height:100vh;
    width:100vw;
}
body{
    background-color: black;
    width:100vw;
}

/* MAIN  */
.main{
    background-image:url(/netflix_banner.jpg);
    font-family:"Martel Sans",sans-serif;
    height:90vh;
    width:100vw;
    position:relative;
    background-position:bottom center;
    background-repeat:no-repeat;
    background-size:max(1200px,100vw);
    background-size:cover;
    right:0px;
}
.main .box{
    height:90vh;
    width:100%;
    opacity:0.7;
    background-color:black;
    position:absolute;
    top:0;
    right:0px;
}
nav{
    max-width:80vw;
    height:5rem;
    margin:auto;
    justify-content:space-between;
    display:flex;
    align-items:center;
    padding-left:1rem;
    position:sticky;
}
nav span{
    color:var(--red-text-color);
}
nav img{
    width:9.5rem;
    height:10rem;
    position:relative;
    z-index:10;
}
nav button{
    position:relative;
    z-index:10;
}
.btn-si{
    font-size:0.9rem;
    padding:0.3rem 1.4rem;
}
.btn:hover{
    background-color:#af0810;
    border-color:#af0810;
}
.btn{
    display:inline-block;
    background-color: var(--red-text-color);
    text-decoration: none;
    color:#FFFFFF;
    border:2px solid var(--red-text-color);
    border-radius: 0.2rem;
    font-weight:600;
    position:relative;
    z-index:1;
}

#language{
    color:white;
    background-color: rgba(0, 0, 0, 0.312);
    border-radius:0.3rem;
    padding:0.3rem 1.4rem;
    margin-right:0.7rem;
    position:relative;
    z-index:2;
    font-weight:500;
    font-size:0.9rem;
}
#language_icon{
    color:white;
    width:45rem;
    height:23rem;
}
.home{
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content: center;
    align-items:center;
    color:white;
    height:calc(100%-100px);
    gap:23px;
    position:relative;
    top:3rem;
    padding:0 30px;
}
.home>:first-child{
    font-weight:800;
    font-size:48px;
    font-family:"poppins","sans-serif";
}
.home>:nth-child(2){
     font-weight:500;
     font-size:23px;
}
.home>:nth-child(3){
    font-weight:500;
    font-size:21px;
}
 .form{
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    top:-2rem;
    gap:0.5rem;
}

.email{
    background-color: rgba(0, 0, 0, 0.227);
    width:22rem;
    padding:0.2rem 1rem;
    height:3.5rem;
    position: relative;
    z-index:1;
    border-radius:0.3rem;
    border-color:rgb(54, 47, 51);
    border-style:groove;
}
::placeholder{
    color:#bdbdb2;
    font-size:1rem;
}
.btn-red-sm{
    padding:0.8rem 1rem;
    font-size:1.5rem;
}
.separation{
     background-color: gray;
     width:100vw;
     height:0.4rem; 
     position:relative;
     top:1rem;
}

@media only screen and (max-width:709px){
     .home{
        height:65%;
     }
     .form{
        top:2rem;
     }
     .separation{
        top:5rem;
     }
}

@media only screen and (max-width:575px){
    :root{
        font-size: 13px;
    }
    .main{
        height:85vh;
    }
    .main .box{
        height:85vh;
    }
    .home{
       height:calc(100%-5rem);
    }
    .form{
       top:7rem;
    }
    .separation{
       top:11rem;
    }
}


/* Second section */
.second{
    background-color:#000000;
    position:relative;
    top:0.5rem;
    height:80vh;
    display:flex;
    max-width:max(1200px,100vw);
}
.content{
    color:white;
    display:inline-block;
    width:41rem;
    height:20rem;
    position:relative;
    top:12rem;
    left:8.9rem;
    justify-content:flex-start;
}
.content h1{
    position:relative;
    top:1rem;
    font-size:2.7rem;
    font-weight:800;
}
.content p{
    position:relative;
    top:1.7rem;
    font-size:1.5rem;
    font-weight: 500;
}
.vdo_cont{
    display:inline-block;
    position:relative;
    top:3rem;
    left:6rem;
    width:39rem;
    height:28rem;
}
.vdo_cont img{
    width:36rem;
    position:absolute;
    z-index:1;
}
.vdo1{
    width:26rem;
}
.vdo1 video{
    width:26.3rem;
    display:inline-block;
    position:absolute;
    top:5.56rem;
    left:4.69rem;
}

/* Third section */
.third{
    background-color:#000000;
    height:80vh;
    color:white;
    max-width:max(1200px,100vw);
    position:relative;
    top:1rem;
    display:flex;
    justify-content:center;
    align-content:center;
}
.card{
    position:relative;
    width:7rem;
    height:27rem;

}
.card img{
    width:36rem;
    position:absolute;
    top:5rem;    
}
.rec{
    border:2px solid white;
    width:14rem;
    height:8rem;
    position:absolute;
    left:7rem;
}
.rec img{
      position:absolute;
      top:0.8rem;
      width:5rem;
      height:6rem;
}
.rec h4{
    position:absolute;
    left:7rem;
}
.rec p{
    position:absolute;
    left:7rem;
}
.card h1{

}

